*{box-sizing: border-box;}
.container{
    width: 100;
    background-color: white;
}

.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.Cb{width: 50%; background-color: rgb(22, 22, 19);}
.Cm{width: 70%; background-color: blue;}
.Rw{width: 97%; background-color: red;}
.Lw{width: 87%; background-color: blueviolet;}